// preset params
@grid-columns: 12;
@bg: #a5a5a5;

html, body {
  box-sizing: border-box;
  height: 100%;
  margin: 0;
  background-color: @bg;
}

* {
  box-sizing: border-box;
  font-family: "Microsoft YaHei", "MicrosoftJhengHei", STHeiti, MingLiu;
}

#app-root {
  width: 100%;
  text-align: center;

}

.clearFix() {
  &::before,
  &::after {
    display: block;
    content: " ";
    clear: both;
  }
}

.container {
  height: 100%;
  margin: 5px auto 5px;
  .clearFix();
}

.row {
  margin-left: -.1px;
  margin-right: -.1px;
  .clearFix();
}

.col-mixin(@name; @index: 1) when (@index =< @grid-columns) {
  .col-@{name}-@{index} {
    float: left;
    position: relative;
    width: (100% / 12 * @index);
  }
  .col-mixin(@name, (@index + 1));
}

@media print {
  .container {
    width: 100% !important;
    margin: 0 auto !important;
  }
}

@media (min-width: 992px) {
  .col-mixin(md);

  .container {
    width: 970px !important;
  }
}

@media (min-width: 769px) {
  .col-mixin(sm);

  .container {
    width: 765px;
  }
}

@media (max-width: 768px) {
  .container {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.icon {
  display: inline-block;
}